.container {
    max-width: 1400px;
    margin: auto;
}

.content {
    max-width: 500px;
    margin: auto;
}

.title {
    color: black;
    font: 20px tahoma;
    float: left;
}

.b {
    float: right;
}